<h2>Place your bet</h3>

<form action='/set_current_bet' method='post'>
  <p><%= session[:username] %>, you have $<%= session[:bank] %>.</p>
  <p>How much would you like to bet? <input type='text' name='bet'/></p>
  <input type='submit' value='Submit Bet'/>
</form>