<h2>Place your bet</h3>
<% if session[:current_bet] > session[:bank] %>
  <div class='alert alert-error'><p><strong>$<%= session[:current_bet] %> is more than you have in your bank!</strong></p></div>
<% end %>

<% if session[:current_bet] <= 0 %>
  <div class='alert alert-error'><p><strong>$<%= session[:current_bet] %> is not enough for your first bet!</strong></p></div>
<% end %>


<form action='/set_current_bet' method='post' class='form-inline'>
  <h4><%= session[:username] %>, you have $<%= session[:bank] %>.</h4>
  <label>How much would you like to bet?</label>
  <input type='text' name='bet' placeholder='5' required='required'/>
  <input type='submit' value='Submit Bet' class='btn btn-primary'/>
</form>