<h2>Place your bet</h3>
<% if session[:current_bet] > session[:bank] %>
  <p><strong>$<%= session[:current_bet] %> is more than you have in your bank!</strong></p>
<% end %>

<% if session[:current_bet] <= 0 %>
  <p><strong>$<%= session[:current_bet] %> is not enough for your first bet!</strong></p>
<% end %>


<form action='/set_current_bet' method='post'>
  <p><%= session[:username] %>, you have $<%= session[:bank] %>.</p>
  <p>How much would you like to bet? <input type='text' name='bet'/></p>
  <input type='submit' value='Submit Bet'/>
</form>