<h2>Place your bet</h3>
<% if session[:current_bet] > session[:bank] || session[:current_bet] <= 0%>
  <p>$<%= session[:current_bet] %> is more than you have in your bank!</p>
<% end %>

<% unless session[:current_bet].to_i.to_s %>
  <p><%= session[:current_bet] %> is an invalid entry!</p>
<% end %>

<form action='/set_current_bet' method='post'>
  <p><%= session[:username] %>, you have $<%= session[:bank] %>.</p>
  <p>How much would you like to bet? <input type='text' name='bet'/></p>
  <input type='submit' value='Submit Bet'/>
</form>