Dealer's Turn

Only if player stays

Shows cards and total, if total>=17, stays, else hit

Player clicks hit, if stays redirects to end of hand



<form action='/finalize_score' method='post'>
  <input type='submit' value='Stay!'/>
</form>
