<h1>GAMEOVER!!!! You went home with $<%= session[:bank]%></h1>


<form method="post" action="/play_new_game">
    <input type="submit" value="Oops! I meant to play again." class='btn btn-warning btn-large'/>
</form>