<h2>Welcome to Blackjack</h3>

<% unless session[:username] == nil %>
  <h4>Who are you?</h4>

  <form action='/named' method='post'>
    <input type='submit' value='I AM <%=session[:username]%>' class='btn btn-success'/>
  </form>
  <form action='/reset_name' method="post">
    <input type='submit' value='I am NOT <%= session[:username] %>, LOGOUT!' class='btn btn-danger'/>
  </form>

<% end %>

<% if session[:username] == nil %>
  <form action="/set_name" method="post" class='form-inline'>
    <input type='text' name='username' required='required' placeholder='Your name is...'/>
    <input type='submit' value="Submit Name" class='btn btn-primary'/>
  </form>
<% end %>


